<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/battery_0"
        android:label="배터리 상태 체크"
        android:logo="@drawable/battery_100"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity3"></activity>
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:label="간단한 mp3 플레이어">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MusicService">
            <intent-filter>
                <action android:name="com.example.MyApplication.MusicService"/>
            </intent-filter>
        </service>
    </application>

</manifest>